<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ripple | <%= locals.title %></title>
		<link rel="shortcut icon" href="/images/ripple-e-logo.svg" type="image/x-icon">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/global.css">
		<%- yield('headExt') %>
	</head>

	<body class="layout">
		<div class="flash-message" aria-hidden="true"></div>
		<input type="checkbox" id="menu-toggler">
		<label for="menu-toggler" class="menu-toggle-container">
			<i class="fas fa-bars"></i>
		</label>
		<aside>
			<div class="logo-container">
				<svg class="logo" width="210" height="78" viewBox="0 0 210 78" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="/images/ripple-logo.svg#ripple"></use>
				</svg>
			</div>
			<div class="user-container">
				<div class="user-icon"><img src="/images/<%=user.role.replace(/_/g, '-')%>-avatar.svg" alt="<%=user.role.replace(/_/g, '-')%>"></div>
				<div class="user-info">
					<p class="username"><%= user.username %></p>
					<p class="role"><%= user.role.replace(/_/g, ' ') %></p>
					<button class="styled-btn red-btn" id="logout-btn" onclick="logOut('<%= csrfToken %>')">Logout</button>
				</div>
			</div>
			<ul class="sidebar-items">
				<%- yield('sidebar-items') %> 
			</ul>
		</aside>
		<main>
			<%- yield('content') %>
		</main>
		<script src="/js/global.js"></script>
		<%- yield('scripts') %>
	</body>

</html>