<% const final = await extend(`partials/layout`, {}, (section)=>{ %>

<% section['headExt'] = () => { %>

<link rel="stylesheet" href="/css/has-form.css">

<% } %>

<% section['sidebar-items'] = () => { %>

<li class="sidebar-item">
	<a href="/dashboard?no-cache=" class="sidebar-link">
		<i class="fas fa-tv"></i>
		<p>Dashboard</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/pelanggan?no-cache=" class="sidebar-link active">
		<i class="fas fa-user"></i>
		<p>Daftar Pelanggan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/karyawan?no-cache=" class="sidebar-link">
		<i class="fas fa-user-tie"></i>
		<p>Daftar Karyawan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/penggunaan?no-cache=" class="sidebar-link">
		<i class="fas fa-hand-holding-water"></i>
		<p>Daftar Penggunaan</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/pembayaran?no-cache=" class="sidebar-link">
		<i class="fas fa-hand-holding-usd"></i>
		<p>Histori Pembayaran</p>
	</a>
</li>
<li class="sidebar-item">
	<a href="/tarif?no-cache=" class="sidebar-link">
		<i class="fas fa-tags"></i>
		<p>Daftar Tarif</p>
	</a>
</li>

<% } %>

<% section['content'] = () => { %>
<h2 class="form-title">Edit Pelanggan</h2>
<form method="post" onsubmit="event.preventDefault(); onSubmit(this)">
	<input type="hidden" name="csrfToken" value="<%=locals.csrfToken%>">
	<div class="input-container">
		<label for="nama-pelanggan" class="styled-label">Nama Pelanggan</label>
		<input type="text" class="styled-input" name="namaPelanggan" id="nama-pelanggan" value="<%=pelangganData.namaPelanggan%>" required>
	</div>
	<div class="input-container">
		<label for="alamat" class="styled-label">Alamat</label>
		<textarea class="styled-input" name="alamat" id="alamat" cols="30" rows="2" required><%=pelangganData.alamat%></textarea>
	</div>
	<div class="input-container">
		<label for="subkategori" class="styled-label">Subkategori</label>
		<div class="select-wrapper">
			<select class="styled-input" name="idSubkategori" id="subkategori" required>
				<option value="" selected hidden disabled>-</option>
				<% kategoriData.forEach(kategori=>{ %>
					<optgroup label="<%= kategori.namaKategori %>">
						<% subkategoriData.filter(sk=>sk.idKategori===kategori.idKategori).forEach(subkategori=>{ %> 
							<option value="<%= subkategori.idSubkategori %>" <%=subkategori.idSubkategori===pelangganData.idSubkategori?' selected':''%>><%= subkategori.namaSubkategori %></option>
						<% }) %> 
					</optgroup>
				<% }); %>
			</select>
		</div>
	</div>
	<button class="styled-btn form-btn">Submit</button>
</form>
<% } %>

<% section['scripts'] = () => { %>
<script>
	window.addEventListener('click', e => {
		if (e.target !== flashMessage && flashMessage.classList.contains('active')) {
			flashMessage.classList.remove('active');
			setTimeout(() => {
				flashMessage.classList.remove('error');
				flashMessage.classList.remove('success');
			}, 1000);
		}
	})
	async function onSubmit(form) {
		try {
			const formData = new FormData(form);
			const data = {};
			formData.forEach((value, key) => data[key] = value);
			const res = await fetch(window.location.href, {
				headers: {
					'Content-Type': 'application/json'
				},
				method: 'PUT',
				body: JSON.stringify(data)
			});
			const json = await res.json();
			if ('error' in json) {
				flashMessage.textContent = json.error;
				flashMessage.classList.add('error');
				flashMessage.classList.add('active');
				return;
			}
			flashMessage.textContent = json.success;
			flashMessage.classList.add('success');
			flashMessage.classList.add('active');
			window.location.href = json.redirect + '?no-cache=' ;
		} catch (err) {
			console.error(err)
		}
	}
</script>
<% } %>

<% }); %>

<%- final %>